@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap');

body {
    background: #2E5077;
}

header {
    text-align: center;
    font-family: Indie Flower, sans-serif;
    font-size: 20px;
    letter-spacing: 10px;
    color: white;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;    
    border: solid white;
    border-radius: 25px;
}

/*Buttons*/

.flex {
    display: flex;
    padding-bottom: 25px;
  }
  
.center {
    justify-content: center;
  }

#start-button {
    margin-right: 20px;
}

#startButton, #restartButton, #jump {
    border-radius: 12px;
    border: solid white;
    padding: 10px 24px;
    background-color: #22718F;
    color: white;
}

/*Modal*/

.modal {
    display: none; 
    z-index: 1; 
    overflow: auto; 
    background-color: #2E5077; 
    width: 500px;
    height: 400px;
    position: absolute;
    left: 44%;
    top: 53%; 
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 25px;
    border: 3px solid white;
}

.modal-content {
    background-color: #2E5077;
    font-family: Indie Flower, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    letter-spacing: 4px;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 80%;
  }
  
.close {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*Footer*/

p {
    font-family: Indie Flower, sans-serif;
    color: white;
    text-align: center;
  }

  /* Media Queries */

@media (max-width: 1060px) {
    .walks {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    #form {
        width: 70%;
    }

    input[type=text],
    input[type=email] {
        width: 60%;
    }
}

@media (max-width: 800px) {
    #form {
        width: 90%;
    }

    input[type=text],
    input[type=email] {
        width: 60%;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .walks {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    #form {
        width: 90%;
    }

    input[type=text],
    input[type=email] {
        width: 80%;
    }

    #overlay {
        font-size: 300%;
        width: 400px;
        height: 150px;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .walks {
        flex-direction: column;
    }

    #hero-img {
        height: 400px;
    }
}

@media (max-width: 480px) {
    #overlay {
        font-size: 200%;
        width: 280px;
        height: 120px;
    }

    #hero-img {
        height: 300px;
    }
}