canvas {
    border: solid red;
}

.modal {
    display: none; 
    z-index: 1; 
    overflow: auto; 
    background-color: #7AAFC6; 
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
    border-radius: 25px;
    border: 3px solid white;
}

.modal-content {
    background-color: #7AAFC6;
    font-family: Anton, sans-serif;
    font-size: 22px;
    color: black;
    letter-spacing: 4px;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 80%;
  }
  
.close {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
