@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&display=swap');

body {
    background: #2E5077;
}

header {
    text-align: center;
    font-family: Indie Flower, sans-serif;
    font-size: 20px;
    letter-spacing: 10px;
    color: white;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid white;
    border-radius: 25px;
}

/*Buttons*/

.flex {
    display: flex;
    padding-bottom: 25px;
}

.center {
    justify-content: center;
}

#start-button {
    margin-right: 20px;
}

#startButton,
#restartButton,
#jump {
    border-radius: 12px;
    border: solid white;
    padding: 10px 24px;
    background-color: #22718F;
    color: white;
}

#jump {
    margin-top: 30px;
}

/*Modal*/

.modal {
    display: none;
    z-index: 1;
    overflow: auto;
    background-color: #2E5077;
    width: 500px;
    height: 400px;
    border-radius: 25px;
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: #2E5077;
    font-family: Indie Flower, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    letter-spacing: 4px;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 80%;
}

.close {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Footer*/

p {
    font-family: Indie Flower, sans-serif;
    color: white;
    text-align: center;
}

/*404 page*/

#four-o-four,
#not-found {
    font-family: Indie Flower, sans-serif;
    color: white;
    text-align: center;
}

#four-o-four h1 {
    font-size: 130px;
    margin: 10px;
}

#not-found h2 {
    font-size: 50px;
    margin: 10px;
}

#error p {
    font-size: 30px;
    margin: 5px;
}

#return a {
    font-family: Indie Flower, sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
    color: yellow;
}

/* Media Queries */

@media (max-width: 1060px) {
    canvas {
        width: 90%;
    }
}

@media (max-width: 540px) {
    .modal {
        width: 90%;
        height: 300px;
    }

    .modal-content {
        font-size: 16px;
        width: 90%;
    }
}

@media (max-width: 530px) {
    .modal {
        width: 90%;
        height: 250px;
    }

    .modal-content {
        font-size: 13px;
        width: 90%;
    }
}

@media (max-width: 462px) {
    .modal {
        width: 90%;
        height: 250px;
    }

    .modal-content {
        font-size: 10px;
        width: 80%;
    }
}

@media (max-width: 330px) {
    header {
        font-size: 15px;
    }
}